{$SITE_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 2MB
    }
    reverse_proxy app:8080 {
        flush_interval -1
    }
    header {
        Strict-Transport-Security "max-age=31536000"
    }
}
